@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';
  
.searchArea {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid 4px;
    width: 108px;
}

img {
    width: 100px;
}